{% extends "base.html" %}
{% block body %}


<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>


<div style="width: 97.5%; margin-right: auto; margin-left: auto; margin-top: 2.5%; padding-bottom: 4%;">
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-desktop"></i> Software Training Dashboard</h4>
    </div>
    <div class="panel-body row">
        <div class="creation-links col-lg-6 col-md-6 col-sm-6">
            {% if training_manager == 1 %}
                <div class="panel panel-primary">
                    <div class="panel-heading panel-heading-notif">Events Manager</div>
                    <div class="panel-body">
                        <h5>Organiser List</h5>
                        <ul>
                            <li><a href="/training-manager/organiser-list/new/"> New Request </a></li>
                            <li><a href="/training-manager/organiser-list/current/"> Current </a></li>
                            <li><a href="/training-manager/organiser-list/rejected/"> Rejected Request </a></li>
                        </ul>
                        <h5>Add Institution </h5>
                        <ul>
                            <li><a href="/training-manager/addInstitution/"> Add Institution </a></li>
                        </ul>
                    </div>
                </div>
            {% endif %}
            <!-- {% if invigilator == 1 %}
                <div class="panel panel-primary">
                    <div class="panel-heading panel-heading-notif">Invigilator</div>
                    <div class="panel-body">
                        <h5>Online Assessment Test</h5>
                        <ul>
                            <li><a href="/software-training/test/invigilator/waitingforinvigilator/">Approval Pending</a></li>
                            <li><a href="/software-training/test/invigilator/ongoing/">Ongoing Test</a></li>
                        </ul>
                    </div>
                </div>
            {% endif %} -->
            {% if organiser == 1 or organiser == 3 %}
                <div class="panel panel-primary">
                    <div class="panel-heading panel-heading-notif">Organiser</div>
                    <div class="panel-body">
                        <h5>Training <b>(To Start the Training Go here)</b></h5>
                        <ul>
                        {% if organiser == 1 %}
                            <li><a href="/training/planner/training-request/">New Training Request </a></li>
                        {% endif %}
                            <li><a href="/training/planner/">Training Planner Summary </a></li>
                			<!-- {% if institution_type.name == 'School' or institution_type.name == 'Vocational' or institution_type.name == 'NGO - Training Centre' or institution_type.name == 'NGO' or user.is_superuser  %}
                			
                			{% endif %} -->
                        </ul>
                        {% if organiser == 1 %}
                        <h5>Request More Depertment</h5>
                        <ul>
                            <li><a href="/organiser/add-depertment/">Add Depertment</a></li>
                        </ul>
                        {% endif %}

                        <h5> Organiser Handover </h5>
                        {% if organiser == 1 %}
                        <ul>
                            <li id="btn"><a href="#"> Handover this department to another organiser</a></li>
                        </ul>

                        <div id="organiser-handover-form" class="modal">
                        <div class="modal-content">
                          <span class="close">&times;</span>

                          <form class="form-horizontal" method="post" action="/organiser/organiser-handover/">
                          {% csrf_token %}
                          <div><p style="text-align: center; font-weight: bold; font-size: 24px; color: orange;"> 
                            Organiser Handover Form
                          </p></div>
                            <div class="form-group">
                            <label class="control-label col-sm-3" for="organiser">Select Organiser:</label>
                            <div class="col-sm-9"> 
                              <select class="form-control" name="select-organiser" id="organiser">
                              </select>
                            </div>
                            </div>
                            <div class="form-group"> 
                            <div class="col-sm-offset-3 col-sm-9">
                              <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
                            </div>
                          </div>
                          </form>

                        </div>
                        </div>
                        {% endif %}
                        {% if organiserhandoverfrom %}
                        <ul>
                        {% for request in organiserhandoverfrom %}
                            <li> {{request.handedoverfrom.user.first_name}} {{request.handedoverfrom.user.last_name}} has requested to handed over his responsibilty to you - <a href="/organiser/organiser-handover-request-accept/{{request.id}}/">accept</a> or <a href="/organiser/organiser-handover-request-reject/{{request.id}}/">reject</a></li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                        {% if organiserhandoverto %}
                        <ul>
                        {% for request in organiserhandoverto %}
                            {% if request.status == 0 %}
                            <li> Your request to handover your responsilbility to {{request.handedoverto.user.first_name}} {{request.handedoverto.user.last_name}} is waiting for approval</li>
                            {% endif %}
                            {% if request.status == 1 %}
                            <li> {{request.handedoverto.user.first_name}} {{request.handedoverto.user.last_name}} has accepted your request to takeover your responsibility</li>
                            {% endif %}
                            {% if request.status == 2 %}
                            <li> {{request.handedoverto.user.first_name}} {{request.handedoverto.user.last_name}} has rejected your request to takeover your responsibility</li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                        {% endif %}

                    </div>
                </div>
            {% endif %}
            {% if organiser != 1 %}
                <div class="panel panel-primary">
                    <div class="panel-heading panel-heading-notif">Join with Us</div>
                    <div class="panel-body">
                        <ul>

                            {% if organiser == 4 %}
                                <li> Your organiser role request is sent for approval </li>
                            {% endif %}
                            {% if organiser == 3 %}
                                <li><a href="/request-for-organiser/"> Apply again to be a organiser </a></li>
                            {% endif %}
                            {% if organiser == 2 %}
                                <li>Organiser role request rejected | <a href="/request-for-organiser/">request again </a></li>
                            {% endif %}
                            {% if organiser == 0 %}
                                <li><a href="/request-for-organiser/">Add me as Organiser </a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

</div>


<style type="text/css">

.modal{ 
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    margin: 0 auto;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;  /*15% from the top and centered */
    padding: 2%;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 30%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
</style>


<script type="text/javascript">
    
    // Get the modal
    var modal = document.getElementById('organiser-handover-form');

    // Get the button that opens the modal
    var btn = document.getElementById("btn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#organiser').multiselect({
            buttonWidth: '100%',
            maxHeight: 200,
            // Placeholder: 'Select Department...',
            filterPlaceholder: 'Search Organiser...',
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
        });
    });

    var newoptionsdata = "<option value='-'>Select Organiser</option>"
    {% for i in organisers %}
        newoptionsdata += "<option value='{{i.id}}'>{{i.user.username}}</option>"
    {% endfor %}
    $('#organiser').html(newoptionsdata);

</script>


{% endblock %}