{% extends "base.html" %}

{% block body %}

<a href="/training/planner/" style="position: absolute; right: 60px; top: 80px;"> 
<button class="btn btn-primary">Training Planner</button>
</a>
{% if messages %}
{% for message in messages %}
<div style="width: 70%; margin: 0 auto; text-align: center; margin-top: 2%;">
<div class="alert alert-success alert-dismissable fade in">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> {{message}}
</div>
</div>
{% endfor %}
{% endif %}

<div style="width: 80%; margin: 3% auto;">
	<div>
		<p style="text-align: center; font-size: 20px; font-weight: bold;"> The Following students are removed </p>
	</div>

    {% if removed %}
    <div style="box-shadow: 1px 1px 4px #888888; padding: 3% 2%;">
        <div>
            <p style="font-size: 18px; font-weight: 500;"> Already done this foss </p>
        </div>
        <table class="table table-hover">
        <thead>
            <tr>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Email </th>
                <th>Gender</th>
                <th>Training Date</th>
                <th>Removal Reason</th>
            </tr>
        </thead>
        <tbody>
        {% for i in removed %}
          <tr>
            {% for j in i %}
            <td>{{j}}</td>
            {% endfor %}
            <td> Student already done this foss</td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    {% endif %}

</div>


{% endblock %}